In [18]:
import numpy as np
import pandas as pd

In [19]:
df=pd.read_csv('pokemon.csv')

In [20]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [4]:
df.nunique()

#             800
Name          799
Type 1         18
Type 2         18
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

In [5]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
df['Speed'].median()

65.0

In [7]:
dj=df.groupby('Type 1')['Speed'].median().sort_values(ascending=False)
dj

Type 1
Flying      116.0
Dragon       90.0
Electric     88.0
Psychic      80.0
Fire         78.5
Normal       71.0
Dark         70.0
Water        65.0
Ground       65.0
Poison       62.5
Ice          62.0
Ghost        60.5
Fighting     60.0
Bug          60.0
Grass        58.5
Steel        50.0
Rock         50.0
Fairy        45.0
Name: Speed, dtype: float64

In [8]:
dj.index.value_counts().sum()

18

In [9]:
dj.median()

63.75

In [10]:
df.groupby('Name')['Legendary'].sum().sort_values(ascending=False).head(10)

Name
Zygarde Half Forme           True
Suicune                      True
Hoopa Confined               True
Hoopa Unbound                True
Registeel                    True
Moltres                      True
Mewtwo                       True
Terrakion                    True
Thundurus Incarnate Forme    True
Thundurus Therian Forme      True
Name: Legendary, dtype: bool

In [11]:
fastest_type=df.groupby('Type 1')['Speed'].median().sort_values(ascending=False).index[0]
fastest_type

'Flying'

In [17]:
type_1=df.groupby('Name')['Type 1'].value_counts()
type_1

Name                   Type 1
Abomasnow              Grass      1
Abra                   Psychic    1
Absol                  Dark       1
Accelgor               Bug        1
Aegislash Blade Forme  Steel      1
                                 ..
Zoroark                Dark       1
Zorua                  Dark       1
Zubat                  Poison     1
Zweilous               Dark       1
Zygarde Half Forme     Dragon     1
Name: Type 1, Length: 799, dtype: int64

In [21]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [22]:
df['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [30]:
#df_gayle=df[df['batsman']=='CH Gayle']
#df_gayle['batsman_runs'].sum()
single=df[df['Type 2']=='nan']
single['Name'].sort_values()

Series([], Name: Name, dtype: object)