In [103]:
import pandas as pd
import numpy as np

In [104]:
df=pd.read_csv('Lung function.csv')

In [105]:
df.head()

                     Patient  Weeks   FVC    Percent  Age   Sex SmokingStatus
0  ID00007637202177411956430     -4  2315  58.253649   79  Male     Ex-smoker
1  ID00007637202177411956430      5  2214  55.712129   79  Male     Ex-smoker
2  ID00007637202177411956430      7  2061  51.862104   79  Male     Ex-smoker
3  ID00007637202177411956430      9  2144  53.950679   79  Male     Ex-smoker
4  ID00007637202177411956430     11  2069  52.063412   79  Male     Ex-smoker

In [106]:
df['SmokingStatus'].unique()

array(['Ex-smoker', 'Never smoked', 'Currently smokes'], dtype=object)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1549 entries, 0 to 1548
Data columns (total 7 columns):
Patient          1549 non-null object
Weeks            1549 non-null int64
FVC              1549 non-null int64
Percent          1549 non-null float64
Age              1549 non-null int64
Sex              1549 non-null object
SmokingStatus    1549 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 84.8+ KB

In [108]:
df.Weeks.unique()

array([ -4,   5,   7,   9,  11,  17,  29,  41,  57,   8,  13,  15,  22,
        33,  45,  60,   0,   1,   3,  25,  37,  54,   6,  19,  32,  43,
        58,  35,  39,  47,  71,  87,   2,   4,  14,  26,  12,  21,  31,
        40,  52,  69,  16,  18,  20,  38,  53,  66,  23,  44,  70,  -3,
        27,  55,  49,  51,  81,  98,  30,  34,  36,  42,  65,  59,  24,
        63,  10,  61,  -1,  48,  56,  75,  28,  76,  46,  50,  83,  62,
        79,  -5,  73, 102,  82,  97, 100,  67,  91, 107,  85,  72,  84,
        78,  64,  68,  89, 101, 116,  -2,  74,  92, 104, 117, 133,  96,
        77,  94,  86,  88,  95,  93,  80,  99], dtype=int64)

In [109]:
df.drop(['Patient'],axis=1,inplace=True)

In [110]:
df.isna().sum()

Weeks            0
FVC              0
Percent          0
Age              0
Sex              0
SmokingStatus    0
dtype: int64

In [111]:
df_cat=df.select_dtypes(object)
df_num=df.select_dtypes(['float64','int64'])
df_cat.head()

    Sex SmokingStatus
0  Male     Ex-smoker
1  Male     Ex-smoker
2  Male     Ex-smoker
3  Male     Ex-smoker
4  Male     Ex-smoker

In [112]:
from sklearn.preprocessing import LabelEncoder

In [113]:
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])
df_cat.head()

C:\Users\jayes\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Sex  SmokingStatus
0    1              1
1    1              1
2    1              1
3    1              1
4    1              1

In [114]:
df_new=pd.concat([df_cat,df_num],axis=1)
df_new.head()

   Sex  SmokingStatus  Weeks   FVC    Percent  Age
0    1              1     -4  2315  58.253649   79
1    1              1      5  2214  55.712129   79
2    1              1      7  2061  51.862104   79
3    1              1      9  2144  53.950679   79
4    1              1     11  2069  52.063412   79

In [115]:
df_new.corr()

                    Sex  SmokingStatus     Weeks       FVC   Percent       Age
Sex            1.000000      -0.327354 -0.067670  0.502915 -0.121413  0.036916
SmokingStatus -0.327354       1.000000 -0.011611 -0.267184 -0.121810 -0.002494
Weeks         -0.067670      -0.011611  1.000000 -0.041447 -0.012536 -0.059473
FVC            0.502915      -0.267184 -0.041447  1.000000  0.671964 -0.094125
Percent       -0.121413      -0.121810 -0.012536  0.671964  1.000000  0.095949
Age            0.036916      -0.002494 -0.059473 -0.094125  0.095949  1.000000

In [117]:
x = df_new.drop(columns=['FVC'],axis=1)
y = df_new['FVC']

In [118]:
x.head()

   Sex  SmokingStatus  Weeks    Percent  Age
0    1              1     -4  58.253649   79
1    1              1      5  55.712129   79
2    1              1      7  51.862104   79
3    1              1      9  53.950679   79
4    1              1     11  52.063412   79

In [119]:
y.head()

0    2315
1    2214
2    2061
3    2144
4    2069
Name: FVC, dtype: int64

In [121]:
from sklearn.model_selection import train_test_split

In [122]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [127]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [129]:
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [130]:
y_pred=lr.predict(x_test)

In [131]:
mean_squared_error(y_pred,y_test)

127561.42971809456

In [133]:
r2_score(y_pred,y_test)

0.7912081060849825